@model Prog6_Eindopdracht.ASP.Models.TamagotchiModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>You are viewing the properties of: @Model.Name!</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Health)
        </dt>

        <dd>
            
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@Model.Health.ToString()"
                     aria-valuemin="0" aria-valuemax="100" style="width:@Model.Health%">
                   
                </div>
            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hunger)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hunger)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sleep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sleep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Boredom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Boredom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfLastAcces)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfLastAcces)
        </dd>

    </dl>
</div>
<div>
    <img src="@Url.Content("~/Content/images/" + @ViewBag.Status + ".gif")" alt="Status of Tamagotchi"/>
</div>
<p>
    @Html.ActionLink("Back to Tamagotchi Overview", "Index")
</p>
